html {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: auto;
}

#main {
    width: 626px;
    margin: auto;
    margin-top: 64px;
    margin-bottom: 64px;
    text-align: center;
    font-size: 15px;
}

#main #header-image img{
    margin-bottom: 32px;
}

#main #text-title {
    margin-bottom: 16px;
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
}

#main #text-content {
    width: 540px;
    margin: auto;
}

#main #text-title strong{
    color: rgba(238, 36, 255, 1);
}

#main #text-content p{
    margin-bottom: 32px;
}

#main #text-content strong{
    color: rgba(63, 61, 86, 1);
}

#main #text-content #flutuar{
    color: rgba(130, 130, 130, 1)
}

footer {
    text-align: center;
    padding: 0px;
}

footer #line{
    width: 391px;
    height: 0px;
    border: 1px solid rgba(236, 239, 242, 1);
    margin: auto;
    margin-bottom: 16px;
}

footer #footer-content {
    margin-bottom: 40.83px;
}

footer #footer-content a + a{
    margin-left: 28px;
}

footer #footer-content a{
    text-decoration: none;
}

footer #footer-image img{
    bottom: 0px;
    width: 1024px;
    position: center;
}
